
  
  .eachnews {
    background-color: #f5f3e3;
    border:1.5px solid black;
    border-radius: 6px;
    margin: 0.75rem;
    padding-left: 0.75rem;
  }
  
  .backlink {
    font-weight: bold;
    text-decoration: none;
  }

  .newsarticle {
    margin-bottom: 1.5rem;
  }

  .newslinkur {
    color: black;
  }

  a:link, a:visited {
    color: black;
    padding: 0.25rem;
    display: inline-block;
  }
  
  